.auth-page {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(5, 5, 5, 0.6) 50%,
            rgba(5, 5, 5, 0.9) 80%),
        url(./../../../assets/images/signin-bg.jpg) center/cover no-repeat;
    height: 185vh;
}
.auth-page img{
    height: 80px;
    width: 190px;
    margin-left: 12%;
    margin-top: 2%;
    /* bottom: -40px; */
}
.footer {
    background: transparent;
}